ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  li {
    margin-top: 1rem;
  }
  button {
    padding: 1rem;
    border-radius: 0.5rem;
    border: 0.1rem #a4a4a4 solid;
    font-size: 1.6rem;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f8f8f8;
    cursor: pointer;
  }
  button:hover {
    border: 0.1rem #404040 solid;
  }
  button.primary {
    background-color: #f0c040;
  }
  button.block {
    width: 100%;
  }
  .row.top {
    align-items: flex-start;
  }
  .col-1 {
    flex: 1 1 25rem;
  }
  .col-2 {
    flex: 2 1 50rem;
  }
  img.large {
    width: 50%;
  }
  @media screen and (max-width: 768px) {
    img.large {
      width: 100%;
    }
  }
  
.smallImage{
  height: 10rem;
}
  /* Alert */
.success {
    color: #20a020;
  }
  .danger {
    color: #a02020;
  }